<footer class="site-footer">
  <div class="footer-content">
    
    <div class="footer-social">
      <!-- <a mat-icon-button href="httpsA://www.facebook.com" target="_blank" aria-label="Facebook">
        <img src="/assets/facebook.png" alt="Facebook" class="social-icon-img">
      </a> -->

        <a mat-icon-button href="https://www.tiktok.com/@salud.mental426?_r=1&_t=ZS-91esvdLZFbt " target="_blank" aria-label="Tiktok">
              <img src="/assets/tiktok.png" alt="tiktok" class="social-icon-img">

        </a>
     <a mat-icon-button href="https://www.instagram.com/saludmental120/" target="_blank" aria-label="Instagram">
    <img src="/assets/instagram.png" alt="Instagram" class="social-icon-img">
  </a>
      <a mat-icon-button href="https://x.com/salud8025" target="_blank" aria-label="Twitter">
                     <img src="/assets/x.png" alt="twitter" class="social-icon-img">

      </a>
    </div>

    <div class="footer-disclaimer">
      <p>
        <strong>Importante:</strong> Esta guía es una herramienta de apoyo y no 
        reemplaza la ayuda de un profesional de la salud mental. 
       <br> Si tú o alguien de tu familia están en crisis, por favor busquen ayuda 
        profesional.
      </p>
    </div>

    <div class="footer-copyright">
      <p>
        © 2025 · Botiquín Emocional Familiar · 
        Hecho con <mat-icon>favorite</mat-icon> para las familias
      </p>
    </div>

  </div>
</footer>