/* src/app/layout/sidebar/sidebar.css (Versión LIMPIA) */

/* El título no lo necesita, no es un componente de Material */
.sidebar-title {
  font-size:1.1rem;
  text-shadow:#333 0.5px 0.5px 0.5px;
  font-weight:700;
  padding:24px 16px 16px 16px;
  color:#07925d;
  border-bottom:1px solid #f5f5f5;
}

.mat-icon{
    color: #07925d;
    margin-right: 1.2rem;
    align-items: center;
}


